In [1]:
True or False

True

In [2]:
1 + 2 % 3

3

In [3]:
(1+2)%3

0

In [4]:
1+(2%3)

3

In [5]:
'Bacon' < 'bacon'

True

In [6]:
1 + 2

3

In [7]:
"one" + "two"

'onetwo'

In [8]:
1 + "two"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
3 * "1"

'111'

In [10]:
"1" * 3

'111'

In [11]:
print ('1'*3)

111

In [12]:
True +1

2

In [13]:
print (f'One and two is {1+2} and thas is all.')

One and two is 3 and thas is all.

In [14]:
def multiply (number): 
    return (number * 10)

In [15]:
multiply(30)

300

In [21]:
def non_zero (number):
    if  number != 0:
        return True
    else:
        return False

In [19]:
non_zero (2)

True

In [22]:
non_zero (0)

False

In [23]:
non_zero (-2)

True

In [24]:
def volume (width, height, depth):
    return (width * height * depth)

In [25]:
volume (2,2,2)

8

In [26]:
def volume_ten_deep (width, height):
    return volume (width, height, 10)

In [27]:
volume_ten_deep (2,3)

60

In [28]:
def is_consonant (letter):
    if letter == "a" or letter == 'e' or letter == "i" or letter =='o' or letter == 'u':
        return False
    else:
        return True

In [29]:
is_consonant ('e')

False

In [30]:
is_consonant ('b')

True

In [31]:
is_consonant (3)

True

In [44]:
def sum_nums (n):
    sum = 0
    for i in range(n+1):
        return (sum + i)

In [45]:
sum_nums (12)

0

TypeError: 'int' object is not iterable